<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-5">
            <img src="assets/img/icons/ventas.png" class="icons">
            <h3 class="title">
                Ventas realizadas : 0
            </h3>
            <ol class="breadcrumb">
                <li>
                    <a>Inicio</a>
                </li>
                <li class="active">
                    <strong>ventas</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-5">
            <div style="margin-top:-13px;width:50%;float:left">
                <small>Fecha de inicio</small>
                <div class="input-group">
                    <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default" (click)="moveToFecha('-')" style="height:34px;"><i class="fa fa-chevron-left"></i></button> 
                </span>
                    <input type="date" class="form-control" style="border-left:0px" [ngModel]="fechaDesde | date:'yyyy-MM-dd'" (ngModelChange)="onChangeFechaDesde($event)">
                </div>
            </div>
            <div style="margin-top:-13px;width:50%;float:left">
                <small>Fecha final</small>
                <div class="input-group">
                    <input type="date" class="form-control" [ngModel]="fechaHasta | date:'yyyy-MM-dd'" (ngModelChange)="onChangeFechaHasta($event)">
                    <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default" (click)="moveToFecha('+')" style="height:34px;"><i class="fa fa-chevron-right"></i></button> 
                </span>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group m-b" style="margin-top:3px;">
                <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filter">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover" [mfData]="data | dataFilter : filter" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr class="text-nowrap">
                        <th>
                            <mfDefaultSorter by="estado_pago">Estado de pago</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="id">Id</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="orderId">N° de orden</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="nombres">Cliente</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="telefono">Teléfono</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="ubucacion">Ubicación</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="email">Email</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="created_at">Fecha - Hora</mfDefaultSorter>
                        </th>

                        <th>
                            <mfDefaultSorter by="estado_pago">Estado del pedido</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter>ver</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter>Entregado</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data">
                        <td>
                            <span *ngIf="item.estado_pago == 'NOT APPROVED' " class="badge badge-danger">{{item.estado_pago}}</span>
                            <span *ngIf="item.estado_pago == 'DECLINED' " class="badge badge-warning">{{item.estado_pago}}</span>
                            <span *ngIf="item.estado_pago == 'APPROVED' " class="badge badge-success">{{item.estado_pago}}</span>
                        </td>
                        <td>{{item.id}}</td>
                        <td>{{item.orderId}}</td>
                        <td>{{item.nombres}} {{item.apellidos}}</td>
                        <td>{{item.telefono}}</td>
                        <td>{{item.pais}} {{item.ciudad}}</td>
                        <td>{{item.email}}</td>
                        <td>{{item.created_at}}</td>
                        <td>
                            <span class="badge badge-primary" *ngIf="item.estado == 'DESPACHADO' ">{{item.estado}}</span>
                            <span class="badge badge-success" *ngIf="item.estado == 'ENTREGADO' ">{{item.estado}}</span>
                        </td>
                        <td>
                            <a href="javascript:;" data-toggle="modal" data-target="#modalPedido" title="Editar" (click)="viewPedido(item);"><i class="fa fa-eye ico text-blue"></i></a>
                        </td>
                        <td style="text-align:center;">
                            <button class="btn btn-success btn-circle" type="button" (click)="entregado('ENTREGADO',item);" *ngIf="item.estado == 'DESPACHADO'" title="Pedido entregado"><i class="fa fa-check"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="10">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div *ngIf="mf.data.length == 0" class="empty">
            <div class="img-empty">

            </div>
            <h3>
                No se encontraron pedidos pendientes
            </h3>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modalPedido" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="min-width:90%">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Nuevo pedido</h4>
                <small class="font-bold">Revisa el pedido, revisa el estado del pago y envialo al cliente.</small>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="widget p-xl">
                                <h2>
                                    {{Pedido.nombres}} {{Pedido.apellidos}}
                                </h2>
                                <ul class="list-unstyled m-t-md">
                                    <li>
                                        <span class="fa fa-envelope m-r-xs"></span>
                                        <label>Email:</label> {{Pedido.email}}
                                    </li>
                                    <li>
                                        <span class="fa fa-phone m-r-xs"></span>
                                        <label>Teléfono:</label> {{Pedido.telefono}}
                                    </li>
                                    <li>
                                        <span class="fa fa-phone m-r-xs"></span>
                                        <label>Pais/ciudad:</label> {{Pedido.pais}} {{Pedido.ciudad}}
                                    </li>
                                    <li>
                                        <span class="fa fa-location-arrow m-r-xs"></span>
                                        <label>Dirección:</label> {{Pedido.direccion}}
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <h2>Información del pedido</h2>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="list-cart ">
                                        <table style="width: 100%" class="table table-bordered">
                                            <tr *ngFor="let item of productos" class="tr">
                                                <td style="height:127px;width:120px;">
                                                    <img src="{{item.image}}" class="img-cart">
                                                </td>
                                                <td valign="top ">
                                                    <div class="content-descripcion ">
                                                        <h4>{{item.nombre}}</h4>
                                                        <small style="text-transform:uppercase">
                                                                Talla: {{item.talla}}
                                                        </small><br>
                                                        <small style="text-transform:uppercase">
                                                            Color: {{item.color}}
                                                        </small><br>
                                                        <small style="text-transform:uppercase">
                                                            Cantidad: {{item.cantidad}}
                                                        </small>
                                                    </div>
                                                </td>
                                                <td valign="top " style="text-align:right;">
                                                    <div class="content-precio ">
                                                        <small>{{item.valor_unitario | currency :'USD':true:'2.0-0'}} COP / U</small>
                                                        <h4>{{item.valor_total | currency :'USD':true:'2.0-0'}} COP</h4>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="total">
                                                <td>
                                                    <h4>TOTAL:</h4>
                                                </td>
                                                <td style="text-align: right" colspan="2">
                                                    <h4>{{getTotal()| currency :'USD':true:'2.0-0'}} COP </h4>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>