<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-4">
            <img src="assets/img/icons/tickets.png" class="icons">
            <h3 class="title" *ngIf="dataReportTickets.tipo == 'grupo'">
                Tickets Grupo
            </h3>
            <h3 class="title" *ngIf="dataReportTickets.tipo == 'taquilla'">
                Tickets Taquilla
            </h3>
            <ol class="breadcrumb" *ngIf="dataReportTickets.tipo == 'grupo'">
                <li>
                    <a>Reportes</a>
                </li>
                <li>
                    <a (click)="backVentas();">Ventas</a>
                </li>
                <li class="active">
                    <strong>Tickets</strong>
                </li>
            </ol>
            <ol class="breadcrumb" *ngIf="dataReportTickets.tipo == 'taquilla'">
                <li>
                    <a>Reportes</a>
                </li>
                <li>
                    <a (click)="backVentas();">Ventas</a>
                </li>
                <li class="active">
                    <a (click)="backTaquillas();"> Grupo {{dataReport.nombre}}</a>
                </li>
                <li class="active">
                    <strong>{{dataReportTickets.nombre}}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-3">
            <div style="margin-top:-13px;">
                <small>Fecha de inicio</small>
                <div class="input-group">
                    <input type="date" class="form-control form-search" [ngModel]="fechaDesde | date:'yyyy-MM-dd'" (ngModelChange)="onChangeFechaDesde($event)" disabled>
                    <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default search" disabled><i class="fa fa-calendar"></i></button> 
                </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div style="margin-top:-13px;">
                <small>Fecha final</small>
                <div class="input-group">
                    <input type="date" class="form-control form-search" [ngModel]="fechaHasta | date:'yyyy-MM-dd'" (ngModelChange)="onChangeFechaHasta($event)" disabled>
                    <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default search" disabled><i class="fa fa-calendar"></i></button> 
                </span>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group" style="margin-top:3px;">
                <input type="text" class="form-control form-search" placeholder="Buscar..." [(ngModel)]="filter">
                <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default search"><i class="fa fa-search"></i></button> 
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="spacer" style="height:25px;"></div>
    <div class="row text-left">
        <div class="col-xs-8">
            <div class=" m-l-md">
                <h2 class="no-margins text-blueDark" *ngIf="dataReportTickets.tipo == 'grupo'">Grupo {{this.dataReportTickets.nombre}}</h2>
                <h2 class="no-margins text-blueDark" *ngIf="dataReportTickets.tipo == 'taquilla'">Taquilla {{this.dataReportTickets.nombre}}</h2>
                <small class=" m-b badge">{{dataReportTickets.categoria}}</small>
            </div>
        </div>
        <div class="col-xs-4" style='text-align:right'>
            <div class=" m-l-md">
                <h2 class="no-margins text-blueDark">{{data.length}}</h2>
                <small class=" m-b">Cantidad</small>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover" [mfData]="data | dataFilter : filter" #mf="mfDataTable" [mfRowsOnPage]="20">
                <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="estado">Estado</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="codigo">Codigo</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="fecha">Fecha</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="inversion">Inversión</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="regalia">Regalia</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="ganancia">Ganancia</mfDefaultSorter>
                        </th>
                        <th style="text-align:center;width:20px;">
                            <mfDefaultSorter by="ganancia"> Ver ticket</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data">
                        <td>
                            <span class="badge badge-warning" *ngIf="item.estado == 0">En juego</span>
                            <span class="badge badge-primary" *ngIf="item.estado == 1">Ganado</span>
                            <span class="badge badge-danger" *ngIf="item.estado == 2">Perdidos</span>
                            <span class="badge badge-success" *ngIf="item.estado == 3">Pagado</span>
                            <span class="badge badge-default" *ngIf="item.estado == 4">Eliminado</span>
                            <span class="badge badge-default" *ngIf="item.estado == 5">Caducado</span>
                            <span class="badge badge-warning" *ngIf="item.estado == 6">Checking</span>
                        </td>
                        <td>
                            {{item.codigo}}
                        </td>
                        <td>
                            {{item.fecha | date:'yMMMdjms'}}
                        </td>
                        <td>
                            <span class="text-green">{{item.inversion | currency :'USD':true:'2.0-0'}}</span>
                        </td>
                        <td>
                            {{item.regalia | currency :'USD':true:'2.0-0'}}
                        </td>
                        <td>
                            <span class="text-warning"> {{item.ganancia | currency :'USD':true:'2.0-0'}}</span>
                        </td>
                        <td style="text-align:center;">
                            <a href="javascript:;" (click)="getTicket(item.codigo)" data-toggle="modal" data-target="#modalTicket"><i class="fa fa-eye text-blue"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8 ">
                            <mfBootstrapPaginator [rowsOnPageSet]="[20,40,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div *ngIf="mf.data.length == 0" class="empty">
            <div class="img-empty">

            </div>
            <h3>
                No se encontraron tickets
            </h3>
        </div>
    </div>
</div>

<div class="modal inmodal" id="modalTicket" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content animated bounceInRight">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <div class="row">
                    <div class="col-lg-12">
                        <span class="badge badge-warning" *ngIf="ticket.estado == 0">En juego</span>
                        <span class="badge badge-primary" *ngIf="ticket.estado == 1">Ganado</span>
                        <span class="badge badge-danger" *ngIf="ticket.estado == 2">Perdidos</span>
                        <span class="badge badge-success" *ngIf="ticket.estado == 3">Pagado</span>
                        <span class="badge badge-default" *ngIf="ticket.estado == 4">Eliminado</span>
                        <span class="badge badge-default" *ngIf="ticket.estado == 5">Caducado</span>
                        <span class="badge badge-warning" *ngIf="ticket.estado == 6">Checking</span>
                        <br>
                        <h3>Ticket N° {{ticket.codigo}}</h3>
                        <h4>{{ticket.fecha | date:'yMMMdjms'}}</h4>
                        <h4>Inversión: {{ticket.inversion | currency :'USD':true:'2.0-0'}}</h4>
                        <b><small>Regalia: {{ticket.regalia | currency :'USD':true:'2.0-0'}}</small></b>
                    </div>

                </div>
                <hr>
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        Estado
                                    </th>
                                    <th>
                                        Fecha
                                    </th>
                                    <th>
                                        Jugada
                                    </th>
                                    <th>
                                        Logro
                                    </th>
                                    <th>
                                        Valor
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of ticket.Detalles">
                                    <td>
                                        <span class="badge badge-warning" *ngIf="item.estado == 0">Activo</span>
                                        <span class="badge badge-primary" *ngIf="item.estado == 1">Ganado</span>
                                        <span class="badge badge-danger" *ngIf="item.estado == 2">Perdido</span>
                                        <span class="badge badge-default" *ngIf="item.estado == 3">Anulado</span>
                                    </td>
                                    <td>
                                        {{item.Fecha | date:'yMMMdjms'}}
                                    </td>
                                    <td>
                                        <b>{{item.Descripcion}}</b>
                                        <br>{{item.OddTypeName}} | {{item.Outcome}}
                                    </td>
                                    <td>
                                        {{item.value}}
                                    </td>
                                    <td style="text-align:right;">
                                        {{item.valor | currency :'USD':true:'2.0-0'}}
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="5 " style="text-align:right;">
                                        <h4>Ganancia: {{ticket.ganancia | currency :'USD':true:'2.0-0'}}</h4>
                                    </td>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>