<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <img src="assets/img/icons/cogs.png" class="icons">
            <h3 class="title">
                Configuración de usuario
            </h3>
            <ol class="breadcrumb">
                <li>
                    <a>Inicio</a>
                </li>
                <li class="active">
                    <strong>Configuración</strong>
                </li>
            </ol>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-4">
            <div class="row">

                <div class="col-lg-12">
                    <br><br>
                    <h3>Configuración de usuario</h3>
                    <br>

                    <label>Usuario:</label>
                    <input type="text" class="form-control" placeholder="Ingresar usuario" [(ngModel)]="User.usuario">
                    <br>
                </div>
                <div class="col-lg-12">
                    <label>Email:</label>
                    <input type="text" class="form-control" placeholder="Ingresar email" [(ngModel)]="User.email">
                    <small>Aquí llegarán todos los correos de contacto, y notificaciones de compras realizadas.</small>
                    <br>
                    <br>
                </div>
                <div class="col-lg-12">
                    <label>Numero Whatsapp:</label>
                    <input type="text" class="form-control" placeholder="Ingresar número" [(ngModel)]="User.numero_whatsapp">
                    <small>Este es el número de whatsapp al que se redirige al usuario cuando da usa el boton de Chat.</small>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="col-lg-12">
                <br>
                <h3>Configuración de envios</h3>
                <br>
                <label>Envio Nacional:</label>
                <div class="row">
                    <div class="col-lg-6">
                        <label>COP:</label>
                        <input type="number" class="form-control" placeholder="Ingresar valor"
                            [(ngModel)]="User.envioCO">
                    </div>
                    <div class="col-lg-6">
                        <label>USD:</label>
                        <input type="number" class="form-control" placeholder="Ingresar valor"
                            [(ngModel)]="User.envioCO_usd">
                    </div>
                </div>

                <br>
                <label>Envio Bogotá:</label>
                <div class="row">
                    <div class="col-lg-6">
                        <label>COP:</label>
                        <input type="number" class="form-control" placeholder="Ingresar valor"
                            [(ngModel)]="User.envioBO">
                    </div>
                    <div class="col-lg-6">
                        <label>USD:</label>
                        <input type="number" class="form-control" placeholder="Ingresar valor"
                            [(ngModel)]="User.envioBO_usd">
                    </div>
                </div>
                <br>
                <label>Envio Internacional:</label>
                <div class="row">

                    <div class="col-lg-6">
                        <label>COP:</label>
                        <input type="number" class="form-control" placeholder="Ingresar valor"
                            [(ngModel)]="User.envioIN">
                    </div>
                    <div class="col-lg-6">
                        <label>USD:</label>
                        <input type="number" class="form-control" placeholder="Ingresar valor"
                            [(ngModel)]="User.envioIN_usd">
                    </div>
                </div>
                <br>
                <label>Valor Minimo de compra:</label>
                <div class="row">

                    <div class="col-lg-6">
                        <label>COP:</label>
                        <input type="number" class="form-control" placeholder="Ingresar valor"
                            [(ngModel)]="User.valor_min_cop">
                    </div>
                    <div class="col-lg-6">
                        <label>USD:</label>
                        <input type="number" class="form-control" placeholder="Ingresar valor"
                            [(ngModel)]="User.valor_min_usd">
                    </div>
                </div>
                <br>
            </div>
        </div>

        <div class="col-lg-4">

            <div class="col-lg-12">
                <label>Contraseña:</label>
                <input type="password" class="form-control " placeholder="Ingresar contraseña "
                    [(ngModel)]="User.pass ">
                <br>
            </div>
            <div class="col-lg-12 ">
                <label>Nueva Contraseña:</label>
                <input type="text " class="form-control " placeholder="Ingresar contraseña "
                    [(ngModel)]="User.passNueva ">
                <small>Si desea cambiar la contraseña por una nueva llene este campo, de caso contrario dejarlo
                    en
                    blanco.</small>
                <br>
                <br>
                <br>
            </div>
            <div class="col-lg-12 ">
                <button type="button " class="btn btn-success " (click)="update() " id="guardar ">Guardar
                    cambios</button>
            </div>
        </div>


    </div>
