<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-9">
            <img src="assets/img/icons/jugadas.png" class="icons">
            <h3 class="title">
                Mercados disponibles: {{mercados.length}}
            </h3>
            <ol class="breadcrumb">
                <li>
                    <a>Configuración</a>
                </li>
                <li class="active">
                    <strong>Mercados</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control form-search" placeholder="Buscar..." [(ngModel)]="filter">
                <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default search"><i class="fa fa-search"></i></button> 
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover" [mfData]="mercados | dataFilter : filter" #mf="mfDataTable" [mfRowsOnPage]="20">
                <thead>
                    <tr class="text-nowrap">
                        <th>
                            <mfDefaultSorter by="id_old">Id</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="nombre">Nombre de mercado</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="traduccion">Traducción</mfDefaultSorter>
                        </th>
                        <th style="width:120px;">
                            <mfDefaultSorter by="order">Orden</mfDefaultSorter>
                        </th>
                        <th style="text-align:center;">
                            <mfDefaultSorter by="abierto">Abierto por defecto</mfDefaultSorter>
                        </th>
                        <th style="text-align:center;">
                            <mfDefaultSorter by="clasico">Mercado clasico</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="agrupante">Agrupante</mfDefaultSorter>
                        </th>
                        <th style="text-align:center">
                            Opciónes
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data">
                        <td>
                            {{item.id}} - {{item.id_old}}
                        </td>
                        <td>
                            {{item.nombre}}
                        </td>
                        <td>
                            <input type="text" class="form-control" value="{{item.traduccion}}" [(ngModel)]="item.traduccion">
                        </td>
                        <td>
                            <input type="number" class="form-control" value="{{item.orden}}" [(ngModel)]="item.orden">
                        </td>
                        <td style="text-align:center;">

                            <input type="checkbox" id="open{{item.id}}" value="{{item.abierto}}" [(ngModel)]="item.abierto">


                        </td>
                        <td style="text-align:center;">
                            <input type="checkbox" id="classic{{item.id}}" value="{{item.clasico}}" [(ngModel)]="item.clasico">
                        </td>
                        <td>
                            <select class="form-control" [(ngModel)]="item.agrupante">
                                <option value="0">Principales</option>
                                <option value="1">Asiaticos</option>
                                <option value="2">Goles</option>
                                <option value="3">1ra y 2da Mitad</option>
                                <option value="4">Especiales</option>
                                <option value="5">10 Minutos</option>
                            </select>
                        </td>

                        <td style="text-align:center; padding-top:18px;">
                            <a href="javascript:;" (click)="saveMercado(item, $index);" title="Guardar cambios"><i class="fa fa-cloud-upload ico text-blue"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8 ">
                            <mfBootstrapPaginator [rowsOnPageSet]="[20,40,60]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div *ngIf="mercados.length == 0" class="empty">
            <div class="img-empty">
            </div>
            <h3>
                No hay mercados disponibles
            </h3>
        </div>
    </div>
</div>