<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-8">
            <img src="assets/img/icons/delete.png" class="icons">
            <h3 class="title">
                Eliminar ticket
            </h3>
            <ol class="breadcrumb">
                <li>
                    <a>Proceso</a>
                </li>
                <li class="active">
                    <strong>Eliminar</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-3">
            <div style="margin-top:-13px;">
                <small> Ingresar Codigo:</small>
                <div class="input-group" style="margin-top:3px;">
                    <input type="text" class="form-control form-search" placeholder="Codigo" [(ngModel)]="codigo">
                    <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default search"><i class="fa fa-ticket"></i></button> 
                </span>
                </div>
            </div>
        </div>
        <div class="col-lg-1" style="text-align:right;">
            <button class="btn btn-warning btn-circle" type="button" (click)="getTicket();" style="margin-top:8px;" title="Consultar ticket"> 
                                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="!consultado">
        <div class="col-lg-12">
            <div class="empty parpadea" style="margin-top:20%;">
                <i class="fa fa-trash text-red" style="font-size:160px;"></i>
                <h3 class="text-red">
                    Ingresar Codigo de ticket a eliminar
                </h3>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="consultado" class="row">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-lg-12">
                    <span class="badge badge-warning" *ngIf="ticket.estado == 0">En juego</span>
                    <span class="badge badge-primary" *ngIf="ticket.estado == 1">Ganado</span>
                    <span class="badge badge-danger" *ngIf="ticket.estado == 2">Perdidos</span>
                    <span class="badge badge-success" *ngIf="ticket.estado == 3">Pagado</span>
                    <span class="badge badge-default" *ngIf="ticket.estado == 4">Eliminado</span>
                    <span class="badge badge-default" *ngIf="ticket.estado == 5">Caducado</span>
                    <span class="badge badge-warning" *ngIf="ticket.estado == 6">Checking</span>
                    <br>
                    <h3>Ticket N° {{ticket.codigo}}</h3>
                    <h4>{{ticket.fecha | date:'yMMMdjms'}}</h4>
                    <h4>Inversión: {{ticket.inversion | currency :'USD':true:'2.0-0'}}</h4>
                    <b><small>Regalia: {{ticket.regalia | currency :'USD':true:'2.0-0'}}</small></b>
                    <br>
                    <hr>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Estado
                                </th>
                                <th>
                                    Fecha
                                </th>
                                <th>
                                    Jugada
                                </th>
                                <th>
                                    Logro
                                </th>
                                <th>
                                    Valor
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of ticket.Detalles">
                                <td>
                                    <span class="badge badge-warning" *ngIf="item.estado == 0">Activo</span>
                                    <span class="badge badge-primary" *ngIf="item.estado == 1">Ganado</span>
                                    <span class="badge badge-danger" *ngIf="item.estado == 2">Perdido</span>
                                    <span class="badge badge-default" *ngIf="item.estado == 3">Anulado</span>
                                </td>
                                <td>
                                    {{item.Fecha | date:'yMMMdjms'}}
                                </td>
                                <td>
                                    <b>{{item.Descripcion}}</b>
                                    <br>{{item.OddTypeName}} | {{item.Outcome}}
                                </td>
                                <td>
                                    {{item.value}}
                                </td>
                                <td style="text-align:right;">
                                    {{item.valor | currency :'USD':true:'2.0-0'}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="5 " style="text-align:right;">
                                    <h4>Ganancia: {{ticket.ganancia | currency :'USD':true:'2.0-0'}}</h4>
                                </td>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <br>
            <div class="row">
                <div class="col-lg-12">
                    <label class=" control-label">Evidencia:</label>
                    <div class="fileUpload btn btn-primary">
                        <span><i class="fa fa-image"></i> Seleccionar imagen</span>
                        <input type="file" [(ngModel)]="datos.imagen" (change)="getFiles($event)" name="images" id="files" class="upload" />
                    </div>
                    <div class="spacer" style="height:20px;"></div>
                    <div id="image" class="animated bounceIn">
                        <div class="row">
                            <div class="col-lg-12" style="text-align: center;">
                                <i class="fa fa-image ico-bg"></i>
                            </div>
                        </div>
                    </div>
                    <div class="spacer" style="height:20px;"></div>
                </div>
            </div>
            <div class="form-group">
                <label class=" control-label">Motivo:</label>
                <textarea placeholder="Escribe el motivo de la eliminacion del ticket..." [(ngModel)]="datos.nombre" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-lg-12" style="text-align:center;">
            <div class="spacer" style="heigth:40px"></div>
            <button class="btn btn-danger" (click)="eliminar();"><i class="fa fa-trash"></i> Eliminar ticket</button>
        </div>
    </div>
</div>