<div class="spacer" style="height:20%;"></div>


<div class="loginColumns animated fadeInDown" style="background-color:#FFFFFF;box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05);-webkit-box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05);">

    <div class="row">
        <div class="col-md-6">

            <img src="../assets/img/logo-hor.png" style="width:200px">

            <h2 class="font-bold">Bienvenido(a)</h2>
            <p>Sistema de administración Vistaflor, perfectamente diseñado y preparado para tener todo bajo control y en perfecto orden.
        </div>
        <div class="col-md-6">
            <h2 class="font-bold">Inicio de Sesión</h2>
            <form (ngSubmit)="f.form.valid && login()" #f="ngForm" class="m-t" role="form" novalidate>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                    <input type="text" [readonly]="loading" class="form-control" placeholder="Usuario" [(ngModel)]="model.username" #username="ngModel" name="username" required>
                    <span *ngIf="f.submitted && !username.valid" class="help-block m-b-none" style="font-size: 10px;">Este campo es obligatorio</span>
                </div>
                <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                    <input type="password" [readonly]="loading" class="form-control" placeholder="Contraseña" [(ngModel)]="model.password" #password="ngModel" name="password" required>
                    <span *ngIf="f.submitted && !password.valid" class="help-block m-b-none" style="font-size: 10px;">Este campo es obligatorio</span>
                </div>
                <div class="full-width text-right">
                    <button type="submit" class="btn btn-success block full-width m-b">Iniciar Sesión</button>
                </div>
            </form>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-6">
            Copyright Vistaflor app
        </div>
        <div class="col-md-6 text-right">
            <small>Vistaflor app © 2018</small>
        </div>
    </div>
</div>