<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-7">
            <img src="assets/img/icons/blog.png" class="icons">
            <h3 class="title">
                Subcategorias - {{categoria.name}}
            </h3>
            <ol class="breadcrumb">
                <li>
                    <a>Inicio</a>
                </li>
                <li class="active">
                    <strong>Subcategorias</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2" style="text-align:right">
            <div class="spacer" style="height:5px;"></div>
            <button class="btn btn-success" (click)="nuevo()"><a href="#" data-toggle="modal" data-target="#modalSubcategoria" style="color:#FFFFFF" >Nueva subcategoria</a></button>
        </div>
        <div class="col-lg-3">
            <div class="input-group m-b" style="margin-top:3px;">
                <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filter">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover" [mfData]="subcategorias | dataFilter : filter" #mf="mfDataTable" [mfRowsOnPage]="10">
                <thead>
                    <tr class="text-nowrap">

                        <th>
                            <mfDefaultSorter by="item.id">Id</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="item.name">Nombre</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="item.description">Descripción</mfDefaultSorter>
                        </th>
                        <th style="text-align:center;width:100px;">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.id}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.description}}</td>
                        <td>
                            <a href="javascript:;" data-toggle="modal" data-target="#modalSubcategoria" title="Editar" (click)="editShow(item);"><i class="fa fa-edit ico text-warning"></i></a> &nbsp;
                            <a href="javascript:;" title="Eliminar" (click)="delete(item.id)"><i class="fa fa-trash ico text-red"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">
                            <mfBootstrapPaginator [rowsOnPageSet]="[10,20,30]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div *ngIf="mf.data.length == 0" class="empty">
            <div class="img-empty">

            </div>
            <h3>
                No se encontraron subcategorias registradas
            </h3>
        </div>
    </div>
</div>
<div class="modal inmodal" id="modalSubcategoria" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" *ngIf="!update">Nueva subcategoria</h4>
                <small class="font-bold" *ngIf="!update">Crea una subcategoria</small>

                <h4 class="modal-title" *ngIf="update">{{subcategoria.name}}</h4>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Nombre:</label>
                                <input type="text" class="form-control" placeholder="Ingresar nombre" [(ngModel)]="subcategoria.name">
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <label>Descripción:</label>
                                <textarea 
                                    class="form-control" 
                                    placeholder="Ingresar descripción" 
                                    [(ngModel)]="subcategoria.description"
                                    rows="3">
                                </textarea>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" (click)="save()" *ngIf="!update" id="guardar">Guardar</button>
                <button type="button" class="btn btn-danger" (click)="updateSubcategoria()" *ngIf="update" id="modificar">Actualizar</button>
            </div>
        </div>
    </div>
</div>