<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-9">
            <img src="assets/img/icons/franquicias.png" class="icons">
            <h3 class="title">
                Cantidad de franquicias creadas: {{franquicias.length}}
            </h3>
            <ol class="breadcrumb">
                <li>
                    <a>Configuración</a>
                </li>
                <li class="active">
                    <strong>Franquicias</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-3">
            <div class="input-group">
                <input type="text" class="form-control form-search" placeholder="Buscar..." [(ngModel)]="filter">
                <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default search"><i class="fa fa-search"></i></button> 
                </span>
            </div>
        </div>
    </div>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-3">
            <h3>
                Registrar nueva franquicia
            </h3>
            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" placeholder="Escribir nombre..." [(ngModel)]="franquicia.nombre" class="form-control">
            </div>
            <div class="form-group">
                <label>Dominio:</label>
                <input type="text" placeholder="ejemplo: http://dominio.com" [(ngModel)]="franquicia.dominio" class="form-control">
            </div>
            <div class="form-group">
                <label>Limite de usuarios:</label><small> En caso de ser ilimitado dejar este campo vácio</small>
                <input type="number" placeholder="" [(ngModel)]="franquicia.limite_usuarios" class="form-control">
            </div>
            <div class="form-group">
                <label>Estado:</label>
                <select class="form-control" [(ngModel)]="franquicia.estado">
                    <option value="1">ACTIVO</option>
                    <option value="0">INACTIVO</option>
                </select>
            </div>
            <br>
            <div class="text-center">
                <button class="btn btn-success  animated bounceIn" (click)="saveFranquicia()" *ngIf="!update">Registrar franquicia</button>
                <button class="btn btn-warning  animated fadeIn" (click)="updateFranquicia()" *ngIf="update">Actualizar franquicia</button>
                <button class="btn btn-white   btn-outline animated fadeIn" (click)="cancel()" *ngIf="update">Cancelar</button>
            </div>
        </div>
        <div class="col-md-9">
            <table class="table table-hover" [mfData]="franquicias | dataFilter : filter" #mf="mfDataTable" [mfRowsOnPage]="25">
                <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="estado"> Estado</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="nombre"> Nombre</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="dominio"> Dominio</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="limite_usuarios"> Limite de usuarios</mfDefaultSorter>
                        </th>
                        <th>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data">
                        <td>
                            <span class="badge badge-success" *ngIf="item.estado == 1">Activa</span>
                            <span class="badge badge-danger" *ngIf="item.estado == 0">Inactiva</span>
                        </td>
                        <td>{{item.nombre}}</td>
                        <td>{{item.dominio}}</td>
                        <td>
                            <span *ngIf="item.limite_usuarios !== -1">{{item.limite_usuarios}}</span>
                            <span *ngIf="item.limite_usuarios == -1">Ilimitados...</span>
                        </td>
                        <td>
                            <a href="javascript:;" title="Ver franquicia" (click)="showFranquicia(item)"><i class="fa fa-eye ico text-blue"></i> </a>&nbsp;
                            <a href="javascript:;" *ngIf="item.estado == 1" title="Bloquear" (click)="updateState(item.codigo, 0)"><i class="fa fa-unlock ico text-blue" ></i></a>
                            <a href="javascript:;" *ngIf="item.estado == 0" title="Desbloquear" (click)="updateState(item.codigo, 1)"><i class="fa fa-lock ico text-red"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="5">
                            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>