<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-4">
            <img src="assets/img/icons/history.png" class="icons">
            <h3 class="title">
                Resultados encontrados: 2
                <br><small>Encuentra todas las recargas realizadas.</small>
            </h3>
        </div>
        <div class="col-lg-3">
            <div style="margin-top:-16px;">
                <small>Fecha de inicio</small>
                <div class="input-group">
                    <input type="date" class="form-control" [ngModel]="fechaDesde | date:'yyyy-MM-dd'" (ngModelChange)="onChangeFechaDesde($event)">
                    <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button> 
                </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div style="margin-top:-16px;">
                <small>Fecha final</small>
                <div class="input-group">
                    <input type="date" class="form-control" [ngModel]="fechaHasta | date:'yyyy-MM-dd'" (ngModelChange)="onChangeFechaHasta($event)">
                    <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button> 
                </span>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group">
                <input type="text" class="form-control form-search" placeholder="Buscar...">
                <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default search"><i class="fa fa-search"></i></button> 
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Estado</th>
                        <th>Fecha-hora</th>
                        <th>Serial de cobro</th>
                        <th>Cliente</th>
                        <th>Valor a retirar</th>
                        <th>Valor disponible</th>
                        <th>Origen</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="badge badge-success">Aprobado</span></td>
                        <td>04/08/2017 - 8:00</td>
                        <td>ss45dere45</td>
                        <td>Andy yair Bolaño Castilla</td>
                        <td><span class="text-success"> $20.000</span></td>
                        <td><span class="text-navy"> $20.000</span></td>
                        <td><span class="badge">PARLEY</span></td>
                    </tr>
                    <tr>
                        <td><span class="badge badge-danger">Rechazado</span></td>
                        <td>04/08/2017 - 8:00</td>
                        <td>ss45dere45</td>
                        <td>Andy yair Bolaño Castilla</td>
                        <td><span class="text-success"> $20.000</span></td>
                        <td><span class="text-navy"> $20.000</span></td>
                        <td><span class="badge">PARLEY</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>