<div class="spacer" style="height:30px;"></div>
<div class="row">
    <div class="col-xs-4">
        <label>Perfiles creados:</label>
        <select [(ngModel)]="selectedPerfil" (ngModelChange)="getPermisosByPerfil($event)" class="form-control btn-rounded">
                 <option *ngFor=" let p of perfiles " value="{{p.codigo}}">{{p.nombre}}</option>
            </select>
    </div>
</div>
<div class="row">
    <div class="col-xs-4">
        <h2>{{namePerfilSelect}}</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3" *ngFor="let item of permisos | orderBy:'permiso'">
        <div class="form-group">
            <div class="checkbox i-checks checks-consulta">
                <label>
                            <input type="checkbox" id="get-{{item.codigo}}" name="PermisosGet"> {{item.permiso_nombre}}
                    </label>
            </div>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12" style="text-align:center;">
        <div class="spacer" style="height:20px;"></div>
        <button class="btn btn-warning  " (click)="updatePerfil()" title="Actualizar perfil"> Actualizar perfil</button>
    </div>
</div>