<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img src="assets/img/logo.png" style="width:100%; margin-left:-10px;">
                        <div class="spacer" style="height:20px;"></div>
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs"> <strong class="font-bold">{{user.rol}}</strong> </span>
                        <span class="text-muted text-xs block">@{{user.usuario}}</span>
                    </a>
                </div>
                <div class="logo-element">
                    P
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('mainView')}">
                <a [routerLink]="['/mainView']"><i class="fa fa-th-large"></i> <span class="nav-label">Pedidos</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('ventas')}">
                <a [routerLink]="['/ventas']"><i class="fa fa-dollar"></i> <span class="nav-label">Ventas</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('productos')}">
                <a [routerLink]="['/productos']"><i class="fa fa-cube"></i> <span class="nav-label">Productos</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('clientes')}">
                <a [routerLink]="['/clientes']"><i class="fa fa-user"></i> <span class="nav-label">Clientes</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('blog')}">
                <a [routerLink]="['/blog']"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Blog</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('coleccion')}">
                <a [routerLink]="['/coleccion']"><i class="fa fa-folder-open-o"></i> <span class="nav-label">Colecciones</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('banner')}">
                <a [routerLink]="['/banner']"><i class="fa fa-align-left"></i> <span class="nav-label">Banner</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('configuracion')}">
                <a [routerLink]="['/configuracion']"><i class="fa fa-cogs"></i> <span class="nav-label">configuración</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('about')}">
                <a [routerLink]="['/about']"><i class="fa fa-cogs"></i> <span class="nav-label">About</span></a>
            </li>
            <!--
            <li>
                <a><i class="fa fa-money"></i> <span class="nav-label"><u>R</u>ecargas</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li [ngClass]="{active: activeRoute('recargas/solicitudes')}">
                        <a [routerLink]="['/recargas/solicitudes']"><span class="nav-label">Solicitudes</span></a>
                    </li>
                    <li [ngClass]="{active: activeRoute('recargas/historial')}">
                        <a [routerLink]="['/recargas/historial']"><span class="nav-label">Historial</span></a>
                    </li>
                </ul>
            </li>-->



        </ul>

    </div>
</nav>