<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <div class="crenciales-system">

            </div>
            <li class="nav-header">
                <img class="logo-hor" src="assets/img/logo-hor.png" style="margin-top:5px;width:90%;">
                <div class="dropdown profile-element">


                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs"> <strong class="font-bold">{{user.rol}}</strong> </span>
                        <span class="text-muted text-xs block">@{{user.usuario}}</span>
                    </a>
                </div>
                <div class="logo-element">
                    V
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('productos')}">
                <a [routerLink]="['/productos']"><i class="fa fa-cube"></i> <span class="nav-label">Productos</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('coleccion')}">
                <a [routerLink]="['/coleccion']"><i class="fa fa-folder-open-o"></i> <span class="nav-label">Colecciones</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('banner')}">
                <a [routerLink]="['/banner']"><i class="fa fa-align-left"></i> <span class="nav-label">Banner</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('configuracion')}">
                <a [routerLink]="['/configuracion']"><i class="fa fa-cogs"></i> <span class="nav-label">configuración</span></a>
            </li>
        </ul>
    </div>
</nav>