<div class="wrapper wrapper-content animated fadeIn">
  <div class="row">
      <div class="col-lg-9">
          <img src="assets/img/icons/blog.png" class="icons">
          <h3 class="title">
              About
          </h3>
          <ol class="breadcrumb">
              <li>
                  <a>Inicio</a>
              </li>
              <li class="active">
                  <strong>About</strong>
              </li>
          </ol>
      </div>
      <div class="col-lg-3 text-right">
        <button class="btn btn-success" (click)="guardarCambios()">Guardar cambios</button>
    </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-xs-12">
          <div id="summernote">
      </div>
    </div>
  </div>
</div>
