<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-4">
            <img src="assets/img/icons/history.png" class="icons">
            <h3 class="title">
                Resultados encontrados: 2
            </h3>
            <ol class="breadcrumb">
                <li>
                    <a>Recargas</a>
                </li>
                <li class="active">
                    <strong>Historial</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-3">
            <div style="margin-top:-16px;">
                <small>Fecha de inicio</small>
                <div class="input-group">
                    <input type="date" class="form-control form-search" [ngModel]="fechaDesde | date:'yyyy-MM-dd'" (ngModelChange)="onChangeFechaDesde($event)">
                    <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default search"><i class="fa fa-calendar"></i></button> 
                </span>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div style="margin-top:-16px;">
                <small>Fecha final</small>
                <div class="input-group">
                    <input type="date" class="form-control form-search" [ngModel]="fechaHasta | date:'yyyy-MM-dd'" (ngModelChange)="onChangeFechaHasta($event)">
                    <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default search" ><i class="fa fa-calendar"></i></button> 
                </span>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="input-group" style="margin-top:3px;">
                <input type="text" class="form-control form-search" placeholder="Buscar..." [(ngModel)]="filter">
                <span class="input-group-btn"> 
                    <button type="button" class="btn btn-default search"><i class="fa fa-search"></i></button> 
                </span>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-hover" [mfData]="recargas | dataFilter : filter" #mf="mfDataTable" [mfRowsOnPage]="30">
                <thead>
                    <tr>
                        <th>
                            <mfDefaultSorter by="estado">Estado</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="fecha">Fecha-hora</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="cliente_cedula">Cedula</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="cliente_nombre">Cliente</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="username">Solicitada por</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="username_aprobado">Atentida por</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="saldo">Valor de recarga</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data">
                        <td>
                            <span class="badge badge-success" *ngIf="item.estado == 1">Aprobada</span>
                            <span class="badge badge-danger" *ngIf="item.estado == 2">Rechazada</span>
                        </td>
                        <td>{{item.fecha | date:'yMMMdjms'}}</td>
                        <td>{{item.cliente_cedula}}</td>
                        <td>{{item.cliente_nombre}}</td>
                        <td>{{item.username}}</td>
                        <td>{{item.username_aprobado}}</td>
                        <td><span class="text-success"> {{item.saldo | currency :'USD':true:'2.0-0'}}</span></td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8 ">
                            <mfBootstrapPaginator [rowsOnPageSet]="[30,40,50]"></mfBootstrapPaginator>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div *ngIf="mf.data.length == 0" class="empty">
            <div class="img-empty">

            </div>
            <h3>
                No se encontraron recargas realizadas
            </h3>
        </div>
    </div>
</div>